<ons-page id="cards">
  <ons-toolbar>
    <div class="left"><ons-back-button>Back</ons-back-button></div>
    <div class="center">Cards Page</div>
  </ons-toolbar>

  <ons-card>
    <img src="https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80" alt="Onsen UI" style="width: 100%" />
    <div class="title">Cool Image</div>
    <div class="content">
      <ons-list>
        <ons-list-header>List in Card</ons-list-header>
        <ons-list-item>Item 1</ons-list-item>
        <ons-list-item>Item 2</ons-list-item>
        <ons-list-item>Item 3</ons-list-item>
      </ons-list>
      <br/>
      <ons-button modifier="large" id="cardBtn">Tabs</ons-button>
    </div>
  </ons-card>
</ons-page>
